/****************************************************************************************************************************************/
/************************************************************** TYPOGRAPHY **************************************************************/
/****************************************************************************************************************************************/


h1{
    font-family: Sofia Sans, sans-serif;
    font-size: calc((42 /16 * 1rem) + ((72 - 42) * ((100vw - 320px) / (1920 - 320))));
    font-weight: 500;
}




h2{
    font-size: calc((30 /16 * 1rem) + ((64 - 30) * ((100vw - 320px) / (1920 - 320))));
    font-weight: 500;
}
.-t-h2Small{
    font-family: Sofia Sans, sans-serif;
    font-size: calc((32 /16 * 1rem) + ((45 - 32) * ((100vw - 320px) / (1920 - 320))));
    font-weight: 500;
}

h3{
    font-family: Sofia Sans, sans-serif;
    font-size: calc((22 /16 * 1rem) + ((32 - 22) * ((100vw - 320px) / (1920 - 320))));
    font-weight: 500;
}

p{
    font-family: Inter, sans-serif;
    font-size: calc((20 /16 * 1rem) + ((24 - 20) * ((100vw - 320px) / (1920 - 320))));
    color: var(--c-FG2);
    line-height: 1.4;
    font-weight: 400;
}
.-t-pMedium{
    font-size: calc((20 /16 * 1rem) + ((18 - 20) * ((100vw - 320px) / (1920 - 320))));
    color: var(--c-FG2);
}
.-t-pSmall{
    font-size: 16px;
    color: var(--c-FG2);
}

a, button, label, input[type=submit], .-t-1{
    font-family: Inter, sans-serif;
    font-size: calc((18 /16 * 1rem) + ((20 - 18) * ((100vw - 320px) / (1920 - 320))));
    font-weight: 600;
}


.-t-2{
    font-family: Sofia Sans, sans-serif;
    font-size: calc((24 /16 * 1rem) + ((46 - 24) * ((100vw - 320px) / (1920 - 320))));
}


.-t-uppercase{
    text-transform: uppercase;
}


/****************************************************************************************************************************************/
/**************************************************************** BUTTONS ***************************************************************/
/****************************************************************************************************************************************/


.-b-1{
    padding: 0.8em 2em;
    border-radius: 1000px;
    border: solid 0.1em var(--c-FG1);
}
.-b-1:hover{
    background-color: var(--c-FG1);
    color: var(--c-BG2);
}


.-b-2{
    padding: 0.8em 2em;
    border-radius: 1000px;
    background-color: var(--c-FG2);
    color: var(--c-BG2);
}
.-b-2:hover{
    background-color: var(--c-accent2);
    color: var(--c-FG1);
}


.-b-3:hover{
    font-weight: 700;
}


.-f-iconText-inline1.-b-3:hover:hover{
    gap: 1.8em;
}




.-b-info{
    font-family: Inter, sans-serif;
    color: var(--c-FG1);
    font-size: 16px;
    font-weight: 600;
}
.-b-info.-f-iconText-inline1{
    gap: 1.2em;
}
.-b-info.-f-iconText-inline1 .icon{
    height: 1.2em;
}

a.-b-info:hover{
    filter: blur(0.065em);
}


/****************************************************************************************************************************************/
/**************************************************************** LAYOTUS ***************************************************************/
/****************************************************************************************************************************************/




.-layout-2Col_ImgSpread-2{
    display: flex;
    gap: calc(var(--s-sideMargin));
    align-items: center;
}
.-layout-2Col_ImgSpread-2 .container{
    flex: 1;
}
.-layout-2Col_ImgSpread-2 .imgWrapper{
    flex: 1;
}

.-layout-2Col_ImgSpread-2 > .imgWrapper {
    align-self: stretch;
}

@media screen and (max-width: 800px ){
    .-layout-2Col_ImgSpread-2{
        flex-direction: column;
    }
}




.-layout-3Col_Card_fixed1.cardContainer{
    display: flex;
    justify-content: space-between;
}

.-layout-3Col_Card_fixed1.cardContainer > .card{
    width: calc((90 /16 * 1rem) + ((300 - 90) * ((100vw - 320px) / (1920 - 320))));
}



.-layout-3ColGrid_Card_2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: var(--s-spacing5);
}


@media screen and (max-width:1300px){
    .-layout-3ColGrid_Card_2{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width:800px){
    .-layout-3ColGrid_Card_2{
        grid-template-columns: 1fr;
    }
}





.-layout-4Col_Card_1.cardContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: var(--s-spacing6);
    row-gap: var(--s-spacing7);
}
.-layout-4Col_Card_1.cardContainer > .card{
    height: fit-content;
    width: 100%;
}


@media screen and (max-width:1250px){
    .-layout-4Col_Card_1.cardContainer{
        grid-template-columns:  1fr 1fr;
    }
}

@media screen and (max-width:550px){
    .-layout-4Col_Card_1.cardContainer{
        grid-template-columns: 1fr ;
    }
}




.-layout-2ColGrid_Card_1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--s-spacing5);
}

@media screen and (max-width:1000px){
    .-layout-2ColGrid_Card_1{
        grid-template-columns: 1fr;
    }
}



.-layout-2Col_ImgSpread_1{
    display: flex;
    gap: var(--s-sideMargin);
    flex-direction: column;
}

@media screen and (min-width: 800px ){
    .-layout-2Col_ImgSpread_1{
        flex-direction: row;
    }
    .-layout-2Col_ImgSpread_1 .container{
        flex: 1;
    }
    .-layout-2Col_ImgSpread_1 .imgWrapper{
        flex: 1;
    }
}


.-l-gallery{
    column-count: 3;
    --gapSize: var(--s-spacing4);
    column-gap: var(--gapSize);
}

.-l-gallery > img{
    margin-bottom: var(--gapSize);
}
@media screen and (max-width:850px){
    .-l-gallery{
        column-count: 2;
    }
}
@media screen and (max-width:600px){
    .-l-gallery{
        column-count: 1;
    }
}




.-l-map{
    width: 100%;
    height: 80vh;
    z-index: 1;
}



.-form-1 {
    width: 100%;
    --gap: var(--s-spacing3);
}
.-form-1 input, .-form-1 .inputContainer, .-form-1 textarea{
    width: 100%;
}

.-form-1 > *:not(:last-child){
    margin-bottom: var(--gap);
}



.-inputContainer-1{
    border-bottom: solid var(--c-accent2) var(--s-border2);
}
.-inputContainer-1 label{
    font-weight: 300;
    margin-left: 20px;
}
.-inputContainer-1 input, .-inputContainer-1 textarea {
    margin-top: 0.6em;
    padding-bottom: 0.25em;
    font-size: 20px;
    padding-left: 20px;
}



.-formGroup-hor{
    display: flex;
    gap: var(--gap, var(--s-spacing3));
}

@media screen and (max-width:450px){
    .-formGroup-hor{
        flex-direction: column;
    }
}



.-l-2Col-SpreadHalfImage-1{
    display: flex;
}
.-l-2Col-SpreadHalfImage-1 > .container{
    flex: 1;
}
.-l-2Col-SpreadHalfImage-1 > .imgWrapper{
    flex: 0.6;
}
.-l-2Col-SpreadHalfImage-1 > .imgWrapper > img{
    object-fit: cover;
}

@media screen and (max-width:800px){
    .-l-2Col-SpreadHalfImage-1{
        flex-direction: column;
    }
}


/****************************************************************************************************************************************/
/**************************************************************** CARDS *****************************************************************/
/****************************************************************************************************************************************/


.-card-1 .imgWrapper{
    height: calc((250 /16 * 1rem) + ((380 - 250) * ((100vw - 320px) / (1920 - 320))));
}
.-card-1 a{
    margin-top: auto;
}




.-card-2 > *:first-child{
    margin-left: auto;
    margin-right: auto;
}
.-card-2 .-t-1{
    font-size: calc((8 /16 * 1rem) + ((20 - 8) * ((100vw - 320px) / (1920 - 320))));
}
.-card-2 .-f-iconText-inline1{
    gap: 2em;
}
.-card-2  .-f-iconText-inline1 .icon{
    background-color: var(--c-FG1);
    border-radius: 1000px;
    height: 3em;
    width: 3em;
    padding: 0.5em;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}
.-card-2  .-f-iconText-inline1 .icon > img{
    width: 70%;
    object-position: center;
    height: auto;
}



.-card-3 h3{
    padding-left: 3em;
    height: 2.5em;
    overflow: hidden;
    text-overflow: ellipsis;
}
.-card-3 .counter{
    position: absolute;
    top: 0;
    left: 0;
    color: var(--c-accent2);
    font-weight: 800;
}
.-card-3 .counter::before{
    content: "0";
}



.-card-testimonial > .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.-card-testimonial .icon_quote{
    width: 6%;
}
.-card-testimonial .icon_reviewStars{
    width: 130px;
}
.-card-testimonial .icon_persona{
    width: 80px;
}




/****************************************************************************************************************************************/
/**************************************************************** HEADER ****************************************************************/
/****************************************************************************************************************************************/
body > header{
    height: var(--s-headerHeight);  
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
}

body > header > *{
    width: 100%;
}

header li * {
    text-overflow: ellipsis;
    text-wrap: nowrap;
}

body > header > nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body > header > ul.info{
    display: flex;
    gap: var(--s-spacing2);
    align-items: center;
}

body > header > nav > ul{
    display: flex;
    gap: var(--s-spacing3);
}


header nav a:hover {
    transform: scale(1.1);
}

@media screen and (max-width:950px){
    body > header > nav .logo{
        display: none;
    }
    body > header > hr{
        display: none;
    }
    body > header > ul.info{
        display: none;
    }

    body > header > nav{
        justify-content: space-evenly;
    }
}

header .navMenuToggle{
    display: none;
}

@media screen and (max-width:650px){
    header .invCheckbox:checked ~ nav{
        animation: slideLeft 0.2s;
    }

    header .invCheckbox:not(:checked) ~ nav{
        opacity: 0;
        animation: slideRight 0.2s;
    }
    header .invCheckbox:not(:checked) ~ nav *{
        width: 0;
        
    }

    header .navMenuToggle{
        width: fit-content;
    }

    header .navMenuToggle svg{
        height: calc(var(--s-headerHeight) / 3);
    }
    
    header .navMenuToggle .top-line,
    header .navMenuToggle .bottom-line,
    header .navMenuToggle .middle-line {
        transform-box: fill-box;
        transform-origin: center;
    }
    
    header .invCheckbox:checked ~ .navMenuToggle .top-line  {
        animation: down-rotate 0.2s ease-out both;
    }
    header .invCheckbox:checked ~ .navMenuToggle .bottom-line  {
        animation: up-rotate 0.2s ease-out both;
    }
    
    header .invCheckbox:checked ~ .navMenuToggle .middle-line  {
        animation: hide 0.2s ease-out forwards;
    }

    /* When toggled OFF */
    header .invCheckbox:not(:checked) ~ .navMenuToggle .top-line {
        animation: down-rotate-reverse 0.2s ease-out both;
    }
    header .invCheckbox:not(:checked) ~ .navMenuToggle .bottom-line {
        animation: up-rotate-reverse 0.2s ease-out both;
    }
    header .invCheckbox:not(:checked) ~ .navMenuToggle .middle-line {
        animation: show 0.2s ease-out forwards;
    }

    header .navMenuToggle{
        display: block;
        margin-bottom: auto;
        margin-top: auto;                                  
    }


    header .invCheckbox:checked ~ nav{
        animation: slideLeft 0.2s;
    }

    header .invCheckbox:not(:checked) ~ nav{
        opacity: 0;
        animation: slideRight 0.2s;
    }
    header .invCheckbox:not(:checked) ~ nav.headerNav *{
        transform: translateX(100%);
        width: 0;
    }

    header .navMenuToggle svg{
        height: calc(var(--s-headerHeight) / 3);
    }
    
    header .navMenuToggle .top-line,
    header .navMenuToggle .bottom-line,
    header .navMenuToggle .middle-line {
        transform-box: fill-box;
        transform-origin: center;
    }
    
    header .invCheckbox:checked ~ .navMenuToggle .top-line  {
        animation: down-rotate 0.2s ease-out both;
    }
    header .invCheckbox:checked ~ .navMenuToggle .bottom-line  {
        animation: up-rotate 0.2s ease-out both;
    }
    
    header .invCheckbox:checked ~ .navMenuToggle .middle-line  {
        animation: hide 0.2s ease-out forwards;
    }

    /* When toggled OFF */
    header .invCheckbox:not(:checked) ~ .navMenuToggle .top-line {
        animation: down-rotate-reverse 0.2s ease-out both;
    }
    header .invCheckbox:not(:checked) ~ .navMenuToggle .bottom-line {
        animation: up-rotate-reverse 0.2s ease-out both;
    }
    header .invCheckbox:not(:checked) ~ .navMenuToggle .middle-line {
        animation: show 0.2s ease-out forwards;
    }

    header .navMenuToggle{
        display: block;
        margin-bottom: auto;
        margin-top: auto;                                  
    }

    header nav{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        padding: var(--s-spacing4) var(--s-sideMargin);
        background-color: var(--c-BG1);
        gap: var(--s-spacing5);

        display: flex;
        flex-direction: column;
        justify-content: right;
    }

    header nav {
        margin-left: auto;
        z-index: 100;
    }
    body > header > nav .logo{
        display: block;
    }
    header nav ul{
        display: flex;
        flex-direction: column;
        gap: var(--s-spacing5);
    }
    header nav ul *{
        width: fit-content;
    }

}



@keyframes slideLeft {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translatex(0);
    }
}

@keyframes slideRight {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translatex(100%);
    }
}




@keyframes up-rotate {
	0% {
		animation-timing-function: cubic-bezier(0.16, -0.88, 0.97, 0.53);
		transform: translateY(0px);
	}
	30% {
		transform-origin: center;
		animation-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
		transform: translateY(-10px);
	}
	100% {
		transform-origin: center;
		transform: translateY(-10px) rotate(45deg) scale(0.9);
	}
}

@keyframes down-rotate {
	0% {
		animation-timing-function: cubic-bezier(0.16, -0.88, 0.97, 0.53);
		transform: translateY(0px);
	}
	30% {
		transform-origin: center;
		animation-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
		transform: translateY(10px);
	}
	100% {
		transform-origin: center;
		transform: translateY(10px) rotate(-45deg) scale(0.9);
	}
}

@keyframes hide {
	29% {
		opacity: 1;
	}
	30% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@keyframes up-rotate-reverse {
	0% {
		transform-origin: center;
		transform: translateY(-10px) rotate(45deg) scale(0.9);
	}
	70% {
		transform-origin: center;
		animation-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
		transform: translateY(-10px);
	}
	100% {
		animation-timing-function: cubic-bezier(0.16, -0.88, 0.97, 0.53);
		transform: translateY(0px);
	}
}


@keyframes down-rotate-reverse {
	0% {
		transform-origin: center;
		transform: translateY(10px) rotate(-45deg) scale(0.9);
	}
	70% {
		transform-origin: center;
		animation-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
		transform: translateY(10px);
	}
	100% {
		animation-timing-function: cubic-bezier(0.16, -0.88, 0.97, 0.53);
		transform: translateY(0px);
	}
}

@keyframes show {
	0% {
		opacity: 0;
	}
	29% {
		opacity: 0;
	}
	30% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}






/******************************************************************************************************************************************/
/**************************************************************** subHero *****************************************************************/
/******************************************************************************************************************************************/


.section.subHero{
    margin-top: var(--s-headerHeight);
    padding-top: var(--s-spacing2);
    padding-bottom: var(--s-spacing2);
}

.section.subHero::after{
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: var(--c-BG2);
    width: 35%;
    clip-path: polygon(15% 0%, 100% 0, 100% 100%, 0% 100%);

}



/****************************************************************************************************************************************/
/*********************************************************** LAYOUT SPECIFIC ************************************************************/
/****************************************************************************************************************************************/


#aboutHome > .imgWrapper{
    flex: 1.5;
}


/****************************************************************************************************************************************/
/**************************************************************** OTHER *****************************************************************/
/****************************************************************************************************************************************/


header hr{
    background-color: var(--c-accent1);
}
hr{
    background-color: var(--c-accent3);
    height: var(--s-border1);
}



.-lf-backsplash-1{

}