/****************************************************************************************************************************************/
/************************************************************** TYPOGRAPHY **************************************************************/
/****************************************************************************************************************************************/


h1{
    font-family: Sofia Sans, sans-serif;
    font-size: 72px;
    font-weight: 500;
}



h2{
    font-family: Sofia Sans, sans-serif;
    font-size: 45px;
    font-weight: 500;
}
.-t-h2Big{
    font-size: 64px;
    font-weight: 500;
}


h3{
    font-family: Sofia Sans, sans-serif;
    font-size: 32px;
    font-weight: 500;
}

p{
    font-family: Inter, sans-serif;
    font-size: 24px;
    color: var(--c-FG2);
    line-height: 1.4;
    font-weight: 400;
}
.-t-pMedium{
    font-size: 20px;
    color: var(--c-FG2);
}
.-t-pSmall{
    font-size: 16px;
    color: var(--c-FG2);
}

a, button, label, .-t-1{
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-weight: 600;
}

.-t-2{
    font-family: Sofia Sans, sans-serif;
    font-size: 48px;
}


.-t-uppercase{
    text-transform: uppercase;
}


/****************************************************************************************************************************************/
/**************************************************************** BUTTONS ***************************************************************/
/****************************************************************************************************************************************/


.-b-1{
    padding: 0.8em 2em;
    border-radius: 1000px;
    border: solid 0.1em var(--c-FG1);
    background-color: var(--c-BG1);
}
.-b-1:hover{
    filter: invert(1);
}


.-b-2{
    padding: 0.8em 2em;
    border-radius: 1000px;
    background-color: var(--c-FG2);
    color: var(--c-BG1);
}
.-b-2:hover{
    background-color: var(--c-accent1);
    color: var(--c-FG1);
}


.-b-3:hover{
    font-weight: 700;
}
