/* --------------------- Spreads -------------------- */


.-spread-spaceBetween, .-spread-spaceEvenly{
    display: flex;
    flex-direction: column;
}
.-spread-spaceBetween{
    justify-content: space-between;
}
.-spread-spaceEvenly{
    justify-content: space-evenly;
}


.-spread-em1 > *:not(:last-child){
    margin-bottom: 0.3em;
}
.-spread-em2 > *:not(:last-child){
    margin-bottom: 0.5em;
}
.-spread-em3 > *:not(:last-child){
    margin-bottom: 0.8em;
}
.-spread-em4 > *:not(:last-child){
    margin-bottom: 1em;
}
.-spread-em5 > *:not(:last-child){
    margin-bottom: 1.3em;
}
.-spread-em6 > *:not(:last-child){
    margin-bottom: 1.6em;
}
.-spread-em7 > *:not(:last-child){
    margin-bottom: 1.7em;
}


.-spread-spacing1 > *:not(:last-child){
    margin-bottom: var(--s-spacing1);
}
.-spread-spacing2 > *:not(:last-child){
    margin-bottom: var(--s-spacing2);
}
.-spread-spacing3 > *:not(:last-child){
    margin-bottom: var(--s-spacing3);
}
.-spread-spacing5 > *:not(:last-child){
    margin-bottom: var(--s-spacing4);
}
.-spread-spacing4 > *:not(:last-child){
    margin-bottom: var(--s-spacing5);
}
.-spread-spacing6 > *:not(:last-child){
    margin-bottom: var(--s-spacing6);
}



.-spread-3Col_1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: var(--s-spacing6);
}

@media screen and (max-width:1050px){
    .-spread-3Col_1{
        grid-template-columns: 1fr;
    }
}



/* ---------------- Layout Utilities ---------------- */

.section.-lu-layoutSideMarginImgOverflow-left{
    padding-left: 0;
}
.section.-lu-layoutSideMarginImgOverflow-right {
    padding-right: 0;
}
@media screen and (max-width: 800px) {
    .section.-lu-layoutSideMarginImgOverflow-left, .section.-lu-layoutSideMarginImgOverflow-right, .section.-lu-layoutSideMarginImgOverflow-mobile {
        padding-left: 0;
        padding-right: 0;
    }
    
    .section.-lu-layoutSideMarginImgOverflow-left>*:not(.section > .imgWrapper),
    .section.-lu-layoutSideMarginImgOverflow-right>*:not(.section > .imgWrapper),
    .section.-lu-layoutSideMarginImgOverflow-mobile>*:not(.section > .imgWrapper) {
        padding-left: var(--s-sideMargin);
        padding-right: var(--s-sideMargin);
    }
}






.-lu-padding-even1 {
    padding: var(--s-spacing1);
}
.-lu-padding-even2 {
    padding: var(--s-spacing2);
}
.-lu-padding-even3 {
    padding: var(--s-spacing3);
}
.-lu-padding-even4 {
    padding: var(--s-spacing4);
}
.-lu-padding-even5 {
    padding: var(--s-spacing5);
}
.-lu-padding-even6 {
    padding: var(--s-spacing6);
}


.-lu-padding-Inline1 {
    padding-left: var(--s-spacing1);
    padding-right: var(--s-spacing1);
}
.-lu-padding-Inline2 {
    padding-left: var(--s-spacing2);
    padding-right: var(--s-spacing2);
}
.-lu-padding-Inline3 {
    padding-left: var(--s-spacing3);
    padding-right: var(--s-spacing3);
}
.-lu-padding-Inline4 {
    padding-left: var(--s-spacing4);
    padding-right: var(--s-spacing4);
}
.-lu-padding-Inline5 {
    padding-left: var(--s-spacing5);
    padding-right: var(--s-spacing5);
}
.-lu-padding-Inline6 {
    padding-left: var(--s-spacing6);
    padding-right: var(--s-spacing6);
}



.-lf-inlineMarginSpace{
    padding-top: 0;
    padding-bottom: 0;
    margin-top: calc(var(--s-sectionSpace) / 2);
    margin-bottom: calc(var(--s-sectionSpace) / 2);
}



@media screen and (min-width: 800px) {
    section.-lu-narrowSection-05, .-lu-narrowSection-0_5 {
        padding-right: calc(var(--s-sideMargin) * 0.5);
        padding-left: calc(var(--s-sideMargin) * 0.5);
    }
    
    
    section.-lu-narrowSection-1, .-lu-narrowSection-1 {
        padding-right: calc(var(--s-sideMargin) * 1);
        padding-left: calc(var(--s-sideMargin) * 1);
    }

    section.-lu-narrowSection-1, .-lu-narrowSection-1_5 {
        padding-right: calc(var(--s-sideMargin) * 1.5);
        padding-left: calc(var(--s-sideMargin) * 1.5);
    }

    section.-lu-narrowSection-2, .-lu-narrowSection-2 {
        padding-right: calc(var(--s-sideMargin) * 2);
        padding-left: calc(var(--s-sideMargin) * 2);
    }
    section.-lu-narrowSection-3, .-lu-narrowSection-2_5 {
        padding-right: calc(var(--s-sideMargin) * 2.5);
        padding-left: calc(var(--s-sideMargin) * 2.5);
    }
}



/* ---------------- Layout Flares ---------------- */

/* Sets background color for sections */
.-lf-bgColor-1 {
    background-color: var(--c-BG1);
}
.-lf-bgColor-2 {
    background-color: var(--c-BG2);
}
.-lf-bgColor-3 {
    background-color: var(--c-BG3);
}
.-lf-bgColor-accent1 {
    background-color: var(--c-accent1);
}
.-lf-bgColor-accent2 {
    background-color: var(--c-accent2);
}
.-lf-bgColor-accent3 {
    background-color: var(--c-accent3);
}



/* Sets Half background to section to spefific color */
.-lf-bgColorHalf-1 {
    position: relative;
}
.-lf-bgColorHalf-1::before {
    content: "";
    position: absolute;
    background-color: var(--c-accent2);
    top: 0;
    bottom: 0;
    left: 58%;
    right: 0;
    z-index: -999;
}


@media screen and (max-width:800px){
    .-lf-bgColorHalf-1::before {
        all: unset;
    }
}



/* Adds a decorative image backsplash */
.-f-backsplash-img {
    position: relative;
}
.-f-backsplash-img::before {
    content: "";
    position: absolute;
    top: -50%;
    right: -50%;
    left: -50%;
    bottom: 0;
    background-image: var(--backsplashURL, url('/assets/backsplash.svg'));
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    z-index: -999;
}




.-f-iconText-inline1 .icon {
    height: 0.8em;
    margin-top: auto;
    margin-bottom: auto;
    object-fit: contain;
    object-position: center;
    width: auto;
}
.-f-iconText-inline1 .icon img{
    
}

.-f-iconText-inline1{
    display: flex;
    gap: 0.8em;
}




/**************************************************************************************************************************************/
/********************************************************** SECTIONS/LAYOUTS **********************************************************/
/**************************************************************************************************************************************/







.section > *:not(:last-child){
    margin-bottom: var(--s-spacing6);
}

.section > a:last-child,
.section > button:last-child{
    margin-top: var(--s-spacing3);
}

.-sectionItems-center > h1,
.-sectionItems-center > h2,
.-sectionItems-center > h3,
.-sectionItems-center > h4,
.-sectionItems-center > p,
.-sectionItems-center > a,
.-sectionItems-center > button,
.-sectionItems-center > .sectionItems{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.-sectionItems-right > h1,
.-sectionItems-right > h2,
.-sectionItems-right > h3,
.-sectionItems-right > h4,
.-sectionItems-right > p,
.-sectionItems-right > a,
.-sectionItems-right > button,
.-sectionItems-right > .sectionItems{
    margin-left: auto;
    text-align: right;
}