---
title: About
---

{% extends "boilerplate/base.njk" %}

{% block links %}{% endblock %}

{% block head %}{% endblock %}



{% block content %}
<section class="section -lu-narrowSection-1">
    <div class="-sectionItems-center -spread-spacing2">
        <h2 class="-t-uppercase -t-h2Small">Building Dreams, Renovating Spaces: Discover Verawood’s Expertise</h2>
        <p class="-lu-narrowSection-1">At Verawood Construction, we pride ourselves on delivering exceptional home renovations with integrity, expertise, and personalized care. Backed by over 70 years of combined experience, we transform homes across Ottawa with a commitment to quality, reliability, and client satisfaction.</p>
    </div>
</section>


<section class="section layout -layout-2Col_ImgSpread_1 -lu-layoutSideMarginImgOverflow-left -lf-bgColor-2">
    <div class="imgWrapper"><img src="/assets/img7.jpg" alt=""></div>
    <div class="container -spread-spacing2">
        <h2 class="-t-uppercase">Our History</h2>
        <p>
            Verawood Construction was founded to address a gap in the market: reliable contractors who deliver on promises. We saw homeowners struggling to find professionals they could trust. With a team rooted in integrity and expertise, we’ve created a company dedicated to exceptional service and results.
            <br><br>Over the years, we’ve completed countless successful projects, earning a reputation for professionalism and care. From kitchens to full home makeovers, we’ve focused on creating warm, functional spaces for families across Ottawa. Our repeat clients and glowing reviews highlight our commitment to client satisfaction.
        </p>
        <a href="/contact#form" class="-b-1">Consult With Us</a>
    </div>
</section>

{% endblock %}