---
title: Home
hasCTA: false
---

{% extends "boilerplate/base.njk" %}

{% block links %}{% endblock %}

{% block head %}{% endblock %}



{% block content %}

<section class="section">
    <div class="layout -l-2Col-SpreadHalfImage-1 -lf-bgColor-2">
        <div class="container -lu-padding-even5 -spread-spacing5">
            <h2 class="-t-uppercase">Let’s Talk About <br>Your Project</h2>
            <form class="-form-1" netlify>
                <div class="inputContainer -inputContainer-1">
                    <label class="-t-pSmall" for="name">Name</label>
                    <input type="text" name="name" id="name">
                </div>
                <div class="-formGroup-hor">
                    <div class="inputContainer -inputContainer-1">
                        <label class="-t-pSmall" for="email">Email</label>
                        <input type="email" name="email" id="email">
                    </div>
                    <div class="inputContainer -inputContainer-1">
                        <label class="-t-pSmall" for="phone">Phone Number</label>
                        <input type="tel" name="phone" id="phone">
                    </div>
                </div>
                <div class="inputContainer -inputContainer-1">
                    <label class="-t-pSmall" for="message">Message</label>
                    <textarea name="message" id="message"></textarea>
                </div>

                <div class="inputContainer -inputContainer-fileUpload-1">
                    <label class="-t-pSmall" for="files">Upload Related Project Photos / Files</label>
                    <input type="file" id="files" name="files[]" multiple>
                </div>

                <input class="-b-2" type="submit" value="Send Message">
            </form>
        </div>
        <div class="imgWrapper"><img src="/assets/img7.jpg" alt=""></div>
    </div>
</section>
<iframe class="-l-map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2804.638348606818!2d-75.7090560881319!3d45.335924941867695!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x27861106a3e52e83%3A0x850baa8a79314d8c!2sVerawood%20Construction!5e0!3m2!1sen!2sca!4v1734494696389!5m2!1sen!2sca" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
{% endblock %}