---
title: Home
hasSubHero: false
---

{% extends "boilerplate/base.njk" %}

{% block links %}{% endblock %}

{% block head %}{% endblock %}



{% block content %}
<section id="heroMain" class="section -lf-backsplash-1 -lf-bgColorHalf-hor-1 -layout-2Col_ImgSpread-2 -lu-layoutSideMarginImgOverflow-right">
    <div class="container -spread-spacing2">
        <h1>Your Go-To Team for Home Renovations in Ottawa</h1>
        <p>Your go-to team for Ottawa home renovations, Verawood Construction transforms homes with expert craftsmanship and quality materials. From kitchens, bathrooms, basements, additions, to full home makeovers, we deliver stunning, budget-friendly results. Serving the greater Ottawa area, we turn your renovation vision into reality—on time and on budget.
        </p>
        <a class="-b-2" href="/contact#form">Get In Touch Today</a>
    </div>
    <div class="imgWrapper"><img src="/assets/img2.jpg" alt=""/></div>
</section>

<section class="section -lf-bgColor-2">
    <div class="cardContainer -layout-3Col_Card_fixed1">
        <div class="card -card-2 -spread-spacing1">
            <p class="-t-2">70%</p>
            <hr>
            <h3 class="-t-1 -f-iconText-inline1">
                <div class="icon"><img src="/assets/icon_email_light.svg" alt=""></div>
                Repeat <br>Customers
                </h3>
        </div>
        <div class="card -card-2 -spread-spacing1">
            <p class="-t-2">100%</p>
            <hr>
            <h3 class="-t-1 -f-iconText-inline1">
                <div class="icon"><img src="/assets/icon_email_light.svg" alt=""></div>
                Positive <br>Reviews
                </h3>
        </div>
        <div class="card -card-2 -spread-spacing1">
            <p class="-t-2">Full</p>
            <hr>
            <h3 class="-t-1 -f-iconText-inline1">
                <div class="icon"><img src="/assets/icon_email_light.svg" alt=""></div>
                Home <br>Renovations
                </h3>
        </div>
    </div>
    <div class="spread -spread-3Col_1">
        <h2 class="-t-uppercase -t-h2Small">Stress-Free Home Renovations in Ottawa</h2>
        <p>Your home is important to you, and we’re committed to creating spaces you’ll love. Verawood Construction offers custom home renovations in Ottawa that are affordable, beautiful, and perfectly tailored to your needs.</p>
        <p>Our team works hard to maximize your renovation budget, using high-quality materials to ensure the best results. We will finish your renovation project on time and within budget. We aim to make the process smooth and easy. We are always here to answer any questions you may have.</p>
    </div>
</section>


<section class="section -sectionItems-center -lf-bgColor-accent1">
    <h2 class="-t-uppercase">Our Home Renovation Services</h2>
    <ul class="-layout-3ColGrid_Card_2 cardContainer">
        <li class="-spread-spacing3 card -card-1">
            <div class="imgWrapper"><img src="/assets/img13.jpg" alt=""></div>
            <h3>Full Home Renovations</h3>
            <p class="-t-pMedium">Transform your entire living space with our tailored full home renovation solutions. We handle everything from structural changes to final touches, delivering cohesive and functional designs. Trust us to complete your custom renovation on time and on budget.</p>
            <a class="-f-iconText-inline1 -b-3" href="/contact#form">Start your full home renovation today!<img src="/assets/icon_arrowRight_dark.svg" alt="" class="icon"></a>
        </li>
        <li class="-spread-spacing3 card -card-1">
            <div class="imgWrapper"><img src="/assets/img3.jpg" alt=""></div>
            <h3>Bathroom Renovations</h3>
            <p class="-t-pMedium">Upgrade your home with a sleek, efficienct bathroom designed just for you. From small updates to luxurious retreats, our affordable renovations feature strong fixtures and practical layouts that fit your budget.</p>
            <a class="-f-iconText-inline1 -b-3" href="/contact#form">Upgrade your bathroom now!<img src="/assets/icon_arrowRight_dark.svg" alt="" class="icon"></a>
        </li>
        <li class="-spread-spacing3 card -card-1">
            <div class="imgWrapper"><img src="/assets/img12.jpg" alt=""></div>
            <h3>Kitchen Renovations</h3>
            <p class="-t-pMedium">Bring new life to the heart of your home with our kitchen renovation services. From stylish cabinetry to efficient layouts, we design kitchens that balance functionality and flair. Our professional team ensures every project stays on time and within budget for the best in Ottawa home renovations.</p>
            <a class="-f-iconText-inline1 -b-3" href="/contact#form">Let’s design your dream kitchen!<img src="/assets/icon_arrowRight_dark.svg" alt="" class="icon"></a>
        </li>
        <li class="-spread-spacing3 card -card-1">
            <div class="imgWrapper"><img src="/assets/img20.jpg" alt=""></div>
            <h3>Basement Renovations</h3>
            <p class="-t-pMedium">Make the most of your space with a customized basement renovation. If you need a family room, home office, or extra storage, we can help. We turn unused areas into useful living spaces. We do this while keeping your budget in mind.</p>
            <a class="-f-iconText-inline1 -b-3" href="/contact#form">Unlock your basement’s potential!<img src="/assets/icon_arrowRight_dark.svg" alt="" class="icon"></a>
        </li>
        <li class="-spread-spacing3 card -card-1">
            <div class="imgWrapper"><img src="/assets/img9.jpg" alt=""></div>
            <h3>Home Additions</h3>
            <p class="-t-pMedium">Need more space? We design our home additions to match your home’s existing style seamlessly. From bedrooms to sunrooms, we will finish your project on time and within budget. We make the process easy for homeowners in Ottawa.</p>
            <a class="-f-iconText-inline1 -b-3" href="/contact#form">Expand your home with ease!<img src="/assets/icon_arrowRight_dark.svg" alt="" class="icon"></a>
        </li>
    </ul>
</section>

<section class="section -sectionItems-center">
    <h2 class="-t-uppercase">Why Choose Verawood Construction?</h2>
    <div class="cardContainer -layout-4Col_Card_1">
        <div class="card -card-3 -spread-em2">
            <div class="counter -t-pMedium">1</div>
            <h3 class="-t-1">Custom Design Solutions</h3>
            <hr>
            <p class="-t-pMedium">We design spaces that fit your lifestyle, enhance functionality, and improve efficiency.</p>
        </div>
        <div class="card -card-3 -spread-em2">
            <div class="counter -t-pMedium">2</div>
            <h3 class="-t-1">High-Quality Materials</h3>
            <hr>
            <p class="-t-pMedium">We work with the best suppliers and tradespeople. This helps us provide lasting results for your home improvement in Ottawa.</p>
        </div>
        <div class="card -card-3 -spread-em2">
            <div class="counter -t-pMedium">3</div>
            <h3 class="-t-1">Extremely Professional Team</h3>
            <hr>
            <p class="-t-pMedium">Clear communication and expert project management keep things simple and transparent.</p>
        </div>
        <div class="card -card-3 -spread-em2">
            <div class="counter -t-pMedium">4</div>
            <h3 class="-t-1">Budget-Friendly Options</h3>
            <hr>
            <p class="-t-pMedium">Your renovation budget matters, and we prove that quality doesn’t have to break the bank.</p>
        </div>
    </div>
</section>



<section id="aboutHome" class="section -layout-2Col_ImgSpread-2 -lf-bgColor-accent1 -lf-inlineMarginSpace -lu-layoutSideMarginImgOverflow-right">
    <div class="container -spread-spacing1">
        <h2 class="-t-uppercase">Discover Who We Are</h2>
        <p>Your dream home deserves a team that values integrity, quality, and personalized service. At Verawood Construction, we specialize in creating stunning, functional spaces tailored to your lifestyle.</p>
        <a href="/about" class="-b-1">Learn About Us</a>
    </div>
    <div class="imgWrapper"><img src="/assets/img7.jpg" alt=""/></div>
</section>


<section class="section">
    <h2 class="-t-uppercase">What Our Clients Say</h2>
    <ul class="layout -layout-2ColGrid_Card_1">
        {% for review in reviews.list.slice(0, 2) %}
        <li class="card -lf-bgColor-2 -card-testimonial -lu-padding-even2 -spread-spacing1" style="--starCount: {{ review.starCount }};">
            <img src="/assets/icon_quote.svg" alt="" class="icon_quote icon">
            <div class="container -spread-em1">
                <div class="subContainer">
                    <p class="-t-pSmall">{{review.title}}</p>
                    <h3>{{ review.name }}</h3>
                    <img src="/assets/review_stars.svg" alt="" class="icon icon_reviewStars">
                </div>
                <img src="/assets/persona.svg" alt="" class="icon icon_persona">
            </div>
            <p>{{ review.content }}</p>
        </li>
        {% endfor %}
    </ul>
</section>




{% endblock %}