---
title: Home
---

{% extends "boilerplate/base.njk" %}

{% block links %}{% endblock %}

{% block head %}{% endblock %}



{% block content %}

<section class="section -lu-narrowSection-3 -spread-spacing4">
    <h1 class="-t-uppercase">Ottawa’s Spot For  Premium Home Renovations</h1>
    <h2 class="-t-uppercase">This is A Heading</h2>
    <h3 class="-t-uppercase">Full Home Renovation</h3>
    <h3 class="-t-1">This is Small h3</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi vitae nisi labore similique et officia repellat nobis soluta id eum eveniet, culpa mollitia quis modi sequi provident hic, repellendus molestias?</p>
    <p class="-t-pMedium">Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi vitae nisi labore similique et officia repellat nobis soluta id eum eveniet, culpa mollitia quis modi sequi provident hic, repellendus molestias?</p>
    <p class="-t-pSmall">Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi vitae nisi labore similique et officia repellat nobis soluta id eum eveniet, culpa mollitia quis modi sequi provident hic, repellendus molestias?</p>
    <a href="" class="-b-1">Ottawa Home Renovations</a>
    <a href="" class="-b-2">Ottawa Home Renovations</a>
    <a href="" class="-b-3 -f-iconText-inline1 -t-pSmall">Ottawa Home Renovations<img src="/assets/icon_arrowRight_dark.svg" alt="" class="icon"></a>
</section>
{% endblock %}