---
title: Home
---

{% extends "boilerplate/base.njk" %}

{% block links %}{% endblock %}

{% block head %}{% endblock %}



{% block content %}

<section class="section">
    <h1>This is A Heading</h1>
    <h2>This is A Heading</h2>
    <h3>This is A Heading</h3>
</section>
{% endblock %}