<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <meta name="description" content="">

    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="stylesheet" href="/styles/tools.css">
    <link rel="stylesheet" href="/styles/components.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap" rel="stylesheet">


    {% block links %}{% endblock %}

    {% block head %}{% endblock %}
</head>



<body>
{% if hasHeader | default(true) %}
{% include "base_layouts/header.njk"%}
{% endif %}


{% if hasSubHero | default(true) %}
<section class="-lf-bgColor-accent2 section subHero">
    <h1>{{title}}</h1>
</section>
{% endif %}





{% block content %}{% endblock %}




{% if hasCTA | default(true) %}
<section class="section -lu-narrowSection-1">
    <div class="-sectionItems-center -lu-narrowSection-1 -lu-padding-even3 -lf-bgColor-2 -spread-spacing2">
        <h2>Start Your Home Renovation Journey Today</h2>
        <p>Ready to kick off your next renovation project? We’re here to guide you through every step, answering your questions and ensuring your renovation budget goes a long way.</p>
        <a class="-b-2" href="">Contact Us For a Home Renovation In Ottawa</a>
    </div>
</section>
    
{% endif %}

{% if hasFotter | default(true) %}
    {% include "base_layouts/footer.njk" %}
{% endif %}
</body>
</html>