<footer class="colorInvert -lf-bgColor-1">
    <div class="descriptionContainer">
        <a href="/" class="logo"><img src="/assets/logo_small_light.svg" alt=""></a>
        <p class="-t-light1">Verawood Construction specializes in high-quality home renovations across Ottawa, Kanata, Nepean, and Orleans. From kitchens to full home transformations, we deliver exceptional results with integrity and professionalism.</p>
    </div>
    <div class="infoContainer">
         <div class="contactContainer">
            <div class="-t-1 title">Contact</div>
            <ul>
                <li><a class="-t-light1" href="mailto:info@verawoodconstruction.com">Info@verawoodconstruction.com</a></li>
                <li><a class="-t-light1" href="tel:+6138940745">(613) 894 - 0745</a></li>
                <li><address class="-t-light1">6 Antares Dr Unit 16, Nepean, ON K2E 8A9</address></li>
            </ul>
        </div>
        <div class="navContainer">
            <div class="-t-1 title">Navigation</div>
            <nav><ul>
                <li><a class="-t-light1" href="/">Home</a></li>
                <li><a class="-t-light1" href="/about">About Us</a></li>
                <li><a class="-t-light1" href="/testimonials">Testimonials</a></li>
                <li><a class="-t-light1" href="/gallery">Gallery</a></li>
                <li><a class="-t-light1" href="/contact">Contact</a></li>
            </ul></nav>
        </div>
    </div>
</footer>