<header class="colorInvert -lf-bgColor-1">
    <input type="checkbox" name="navMenuToggle" id="navMenuToggle" class="invCheckbox">
    <ul class="info">
        <li><a class="-b-info -f-iconText-inline1" href="tel:+6138940745"><img src="/assets/icon_phone_light.svg" alt="" class="icon">(613) 894-0745</a></li>
        <li><a class="-b-info -f-iconText-inline1" href="mailto:info@verawoodconstruction.com"><img src="/assets/icon_email_light.svg" alt="" class="icon">Info@VerawoodConstruction.com</a></li>
        <li><p class="-b-info -f-iconText-inline1"><img src="/assets/icon_time_light.svg" alt="" class="icon">Mon - Fri : 9am - 5pm</p></li>
    </ul>
    <hr>
    <nav id="headerNav">
        <a class="logo" href="/"><img src="/assets/logo_light.svg" alt="" class="icon"></a>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About Us</a></li>
            <li><a href="/testimonials">Testimonials</a></li>
            <li><a href="/gallery">Gallery</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>
    <label class="navMenuToggle" for="navMenuToggle">
        <svg class="icon" class="Header__toggle-svg" viewbox="0 0 60 40">
            <g stroke="#ffffff" stroke-width="4" stroke-linecap="round" stroke-linejoin="round">
                <path class="top-line" d="M10,10 L50,10 Z"></path>
                <path class="middle-line" d="M10,20 L50,20 Z"></path>
                <path class="bottom-line" d="M10,30 L50,30 Z"></path>
            </g>
        </svg>
    </label>
</header>