<header class="colorInvert -lf-bgColor-1">
    <ul class="info">
        <li><a class="-b-info -f-iconText-inline1" href="tel:+6138940745"><img src="/assets/icon_email_light.svg" alt="" class="icon">(613) 894-0745</a></li>
        <li><a class="-b-info -f-iconText-inline1" href="mailto:info@verawoodconstruction.com"><img src="/assets/icon_email_light.svg" alt="" class="icon">Info@VerawoodConstruction.com</a></li>
        <li><address class="-b-info -f-iconText-inline1"><img src="/assets/icon_email_light.svg" alt="" class="icon">6 Antares Dr Unit 16, Nepean, ON K2E 8A9</address></li>
        <li><p class="-b-info -f-iconText-inline1"><img src="/assets/icon_email_light.svg" alt="" class="icon">Mon - Fri : 9am - 5pm</p></li>
    </ul>
    <hr>
    <nav id="headerNav">
        <a href="/"><img src="/assets/logo_light.svg" alt="" class="icon logo"></a>
        <ul>
            <li><a href="/about">About Us</a></li>
            <li><a href="/testimonials">Testimonials</a></li>
            <li><a href="gallery">Gallery</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>
</header>